:host {
    border: 1px solid grey;
    padding: 5px 5px;
  }
  
//   input {
//     border: none;
//     outline: none;
//   }
  

:host ::ng-deep input {
    border: none;
    outline: none;
    position: relative;
    top: -3px;
    // margin-bottom: 5px;
  }
  
  :host(.focus) {
    border: 1px solid blue;
  }